<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Question Queue</title>
  </head>
  <body>
    <% @questions.each do |question| %>
    <li><%= question.title %></li>
    <br>
    <% end %>
  </body>
</html>
